<template name="well">
<div class="row">
    <div class="col-md-12 just-centered">
      <h1 class="bold-text">Compre y venda bitcoins cerca de usted</h1>
      <h2 class="tagline">Instantáneo. Seguro. Privado.</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 just-centered">
      <div>
        <p class="tagline lead">
          
          Comerciar con bitcoins en
          <a href="https://localbitcoins.com/statistics">15150 ciudades</a> y
          <a href="https://localbitcoins.com/statistics">248 países</a>
          
          incluyendo
          <a href="https://localbitcoins.com/country/CO">Colombia</a>.
          
        </p>
      </div>
        <a id="splash-register-link" class="register-link btn btn-success btn-lg" href="https://localbitcoins.com/register/">
          <i class="fa fa-check-square-o"></i>&nbsp;Registro
        </a>
    </div>
  </div>
</template>