<template name="footer">

<footer class="container">
  <div class="row footer-block">
   
    <div class="col-md-2" id="col-about">
      <ul class="nav nav-list">
        <li class="nav-header">ACERCA DE</li>
        <li><a href="/about">Sobre nosotros</a></li>
        <li><a href="/careers">Oportunidades de empleo</a></li>
        <li><a href="/fees">Honorarios</a></li>
        <li><a href="/whitehat">Recompensas de seguridad</a></li>
        <li><a href="/statistics">Estadísticas</a></li>
        <li><a href="/terms_of_service/">Términos de servicio</a></li>
      </ul>
    </div>
    <div class="col-md-2" id="col-support">
      <ul class="nav nav-list">
        <li class="nav-header">SOPORTE</li>
        <li><a href="/support/request/">Póngase en contacto con nuestro soporte</a></li>
        <li><a href="/faq">PREGUNTAS MÁS FRECUENTES</a></li>
        <li><a href="/guides/">Guías</a></li>
        <li><a href="/password_reset/">He olvidado la contraseña</a></li>
      </ul>
    </div>
    <div class="col-md-2" id="col-services">
      <ul class="nav nav-list">
        <li class="nav-header">SERVICIOS</li>
        




<li class="dropdown" id="language-dropdown">

    

    <a class="dropdown-toggle" data-toggle="dropdown" href="#language-dropdown">
        <i class="fa fa-globe"></i>
        español
    </a>

    

    <ul class="dropdown-menu">

        

            

            <li id="lang-select-en">
                <a rel="nofollow" href="/language/set_language_improved?language=en&amp;next=/ad/539254/comprar-bitcoins-en-efectivo-bucaramanga-santander-department-colombia">
                    English (en)
                </a>
            </li>
        

            

            <li id="lang-select-es">
                <a rel="nofollow" href="/language/set_language_improved?language=es&amp;next=/ad/539254/comprar-bitcoins-en-efectivo-bucaramanga-santander-department-colombia">
                    español (es)
                </a>
            </li>
        

            

            <li id="lang-select-fr">
                <a rel="nofollow" href="/language/set_language_improved?language=fr&amp;next=/ad/539254/comprar-bitcoins-en-efectivo-bucaramanga-santander-department-colombia">
                    français (fr)
                </a>
            </li>
        

            

            <li id="lang-select-it">
                <a rel="nofollow" href="/language/set_language_improved?language=it&amp;next=/ad/539254/comprar-bitcoins-en-efectivo-bucaramanga-santander-department-colombia">
                    italiano (it)
                </a>
            </li>
        

            

            <li id="lang-select-ru">
                <a rel="nofollow" href="/language/set_language_improved?language=ru&amp;next=/ad/539254/comprar-bitcoins-en-efectivo-bucaramanga-santander-department-colombia">
                    Русский (ru)
                </a>
            </li>
        

            

            <li id="lang-select-pt-br">
                <a rel="nofollow" href="/language/set_language_improved?language=pt-br&amp;next=/ad/539254/comprar-bitcoins-en-efectivo-bucaramanga-santander-department-colombia">
                    Português Brasileiro (pt-br)
                </a>
            </li>
        

            

            <li id="lang-select-zh-cn">
                <a rel="nofollow" href="/language/set_language_improved?language=zh-cn&amp;next=/ad/539254/comprar-bitcoins-en-efectivo-bucaramanga-santander-department-colombia">
                    简体中文 (zh-cn)
                </a>
            </li>
        
    </ul>
</li>

        
        <li><a href="/api-docs/">Documentación de la API</a></li>
        <li><a href="/atm/order-your-own-bitcoin-atm">ATM / Cajero LocalBitcoins</a></li>
        <li><a href="/affiliate/">Afiliados</a></li>
        <li><a href="https://localbitcoinschain.com">Bloquear explorador</a></li>
      </ul>
    </div>
    <div class="col-md-2">
          <ul class="nav nav-list">
            <li class="nav-header">SÍGANOS&nbsp;</li>
            <li><a href="https://www.facebook.com/pages/Localbitcoinscom/266849920086274?notif_t=page_new_likes">
              <i class="fa fa-fw fa-facebook"></i>
              &nbsp;Facebook
            </a></li>
            <li><a href="https://twitter.com/LocalBitcoins">
              <i class="fa fa-fw fa-twitter"></i>
              &nbsp;Twitter
            </a></li>
            <li><a href="https://www.instagram.com/localbitcoins/">
              <i class="fa fa-fw fa-instagram"></i>
              &nbsp;Instagram
            </a></li>
            <li><a href="http://www.reddit.com/r/localbitcoins/">
              <i class="fa fa-fw fa-reddit-alien"></i>
              &nbsp;Reddit
            </a></li>
            <li><a href="/irc">
              <i class="fa fa-fw fa-hashtag"></i>
              &nbsp;IRC
            </a></li>
            <li><a href="/blog/">
              <i class="fa fa-fw fa-rss"></i>
              &nbsp;Blog
            </a></li>
            <li><a href="http://www.weibo.com/localbitcoins/">
              <i class="fa fa-fw fa-weibo"></i>
              &nbsp;Blog chino
            </a></li>
          </ul>
    </div>
  </div>
</footer>

</template>